.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between  ;
  gap: 2rem;
  /* width: 100%; */
  /* padding: 1rem; */
  background-color: var(--color-left-bg);
}

.navGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.navItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  /* border-radius: 5px; */
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: var(--color-button-bg);
}

.active {
  background-color: var(--color-background);
  color: var(--color-negro);
  /* border-radius: .5rem;
   */
}
