/* NAVBAR BASE */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  /* padding: 1rem; */
  background-color: var(--color-left-bg);
  overflow-x: auto;             /* Scroll horizontal */
  white-space: nowrap;          /* Mantiene elementos en línea */
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: thin;        /* Scroll delgado en Firefox */
  max-width: 100%;
  box-sizing: border-box;
}

/* OCULTAR SCROLLBAR (Opcional) */
.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

/* GRUPO DE ITEMS */
.navGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* ÍTEMS DE NAVEGACIÓN */
.navItem {

  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  flex-shrink: 0;            
  color: var(--color-text);
  /* border-radius: 4px; */
  display: flex;
  flex-direction: column;
}

.navItem:hover {
  background-color: var(--color-button-bg);
}

/* ÍTEM ACTIVO */
.active {
  background-color: var(--color-background);
  color: var(--color-negro);
}

a:-webkit-any-link {
  text-decoration: none;
}
