
  @import "./variables.css";


  
  .stepHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .stepHeader {
      gap: .5rem;
    }
  }
  
  .stepNumber {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    background-color: var(--color-left-bg) ;
    color: var(--color-subtitle);
    
  } 
  
  @media (min-width: 768px) {
    .stepNumber {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      font-weight: 700;
    }
  }
  
  .title {
    font-size: 1.125rem;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 1.25rem;
    }
  }
  
  .status {
    margin-left: auto;
    font-size: 0.75rem;
  }
  
  @media (min-width: 768px) {
    .status {
      font-size: 0.875rem;
    }
  }
  
  .statusGreen {
    color: #22c55e;
  }
  
  .statusRed {
    color: #ef4444;
  }
  
  .gridLayout {
    display: grid;
    grid-template-columns: 1fr;

  }
  
  @media (min-width: 640px) {
    .gridLayout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .label {
    font-size: 0.75rem;
    color: #9ca3af;
  }
  
  @media (min-width: 768px) {
    .label {
      font-size: 0.875rem;
    }
  }
  
  .input {
    width: 80%;
    padding: 0.5rem;
    color: var(--color-label);
    font-size: 0.875rem;
  }
  
  @media (min-width: 768px) {
    .input {
      padding: 0.75rem;
      font-size: 1rem;
    }
  }
  
  .exampleText {
    color: #9ca3af;
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .exampleText {
      font-size: 0.875rem;
    }
  }
  