@import '../styles/variables.css';

/* ========== Layout General ========== */
.layout {
  /* Posicionamiento */
  position: relative;
  z-index: 0;
  
  /* Display & Dimensions */
  display: flex;
  min-height: 100vh;
  
  /* Visual */
  background-color: var(--color-background);
  color: var(--color-text);
}

/* ========== Sidebar (Barra Lateral) ========== */
.sidebar {
  width: 12rem;
  padding: .5rem;
  background-color: var(--color-left-bg);
  position: relative;
  z-index: 2;
  font-family: var(--font-family-sans);

  /* Centrado vertical y horizontal */
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
}

.logoContainer {
  display: flex;
  justify-content: center; 
  align-items: center;      
  margin-bottom: 1rem;
}

.logoContainer img {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

/* ========== Navegación en la Sidebar ========== */
.nav {
  margin-top: 1rem; 
  position: relative;
  z-index: 3;
}

/* ========== Contenido Principal ========== */
.content {
  /* Display & Dimensions */
  flex: 1;
  
  /* Posicionamiento */
  position: relative;
  z-index: 1;
}

.icon{
  color: var(--color-text);
}

/* Estilo para el contenido principal cuando el sidebar está expandido o colapsado */
#mainContent {
  transition: margin-left 0.3s ease;
  margin-left: 12rem; /* 48px (w-48) */
}

#mainContent.collapsed {
  margin-left: 4rem; /* 16px (w-16) */
}

/** Responsive **/


@media screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 0.75rem;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .logoContainer {
    justify-content: flex-start;
    margin-bottom: 0;
    flex: 1 1 auto;
  }

  .logoContainer img {
    width: 120px;
    height: auto;
  }

  .nav {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .content {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    display: flex;

  }

  .logoContainer {
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .nav {
    flex-direction: row;
    align-items: flex-start;
  }

  .logoContainer img {
    width: 100px;
  }

  .content {
    padding: 0.75rem;
  }
}


.logoutButton {
  display: flex;
  align-items: center;
  margin-top: 16px;
  background: transparent;
  border: none;
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 8px;
}

.logoutButton:hover {
  cursor: pointer;
}